@*@model IEnumerable<GreenFlamingosWebApp.Models.Drink>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutOLD.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h1>Image</h1>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrinkType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                <asp:Image id="Label3" ImageUrl="<%#"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlcoholContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@

@model IEnumerable<GreenFlamingosWebApp.Models.Drink>
@{
    Layout = "~/Views/Shared/_LayoutOLD.cshtml";
}

<div class="container">
    <h3 class="display-4">Wszystkie Drinki</h3>
    <div class="row">

        @foreach(var drink in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                 <img src = "@drink.ImageUrl" class="img-thumbnail" width="100%" height="100%"/>
                        <div class="card-body">
                            <h3 class="card-title">@Html.DisplayFor(modelItem => drink.Name)</h3>
                            <p class="card-text">@Html.DisplayFor(modelItem => drink.DrinkType)</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
                                    </div>
                                    <small class="text-muted">Autor Drinka</small>
                                </div>
                        </div>
                </div>
            </div>  
        }

    </div>



</div>
