@model GreenFlamingos.Model.APIResponses.ApiIngredient

@{
    ViewData["Title"] = "ApiComm";
    Layout = "~/Views/Shared/_LayoutOLD.cshtml";
}

<h1>ApiComm</h1>

<div>
    <h4>ApiIngredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdIngredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIngredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrIngredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrIngredient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrAlcohol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrAlcohol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StrABV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StrABV)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
