@model Dictionary<GreenFlamingosApp.DataBase.DbModels.DbDrink, int>

@{
    ViewData["Title"] = "Najlepiej ocenione drinki";
    Layout = "~/Views/Shared/_LayoutOLD.cshtml";
}

<div style="text-align:center">
    <h4>Najlepiej ocenione drinki</h4>
</div>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa drinka
            </th>

            <th>
                Ocena
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Przepis", "Details","Drink", new {  id=item.Key.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
